# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Git
.git/
.gitignore

# Docker
.dockerignore
Dockerfile

# Poetry
.venv

# Node
.npm
node_modules/
npm-debug.log

# Tests
**/tests/
playwright_tests/

# Documentation
docs/

# Local config
.env
.env-dist

# Other
.vscode/
.idea/
README.md
CONTRIBUTORS.rst
CODE_OF_CONDUCT.md
LICENSE
Makefile
mkdocs.yml
contribute.json
gcloud/
bin/
/static
/media
*.gz
/locale
docker/dockerfiles/
.vscode-server
.cache
.ssh
/dist
.gnupg*
styleguide

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json